
.parrafoContactoBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(54, 54, 54) ;

.ParrafoContacto{
    padding: 2%;
    background-color:black;
    color: violet;
    width: 80%;
}
}
.formulario{
    margin-bottom: 5%;
    color: violet;
}