*{
    padding: 0%;
    margin: 0%;
}
body{
    padding: 0%;
    margin: 0%;
    background-color: #fff;
}
nav{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    background:rgb(0, 0, 0);
    border-bottom: solid purple;
    justify-content: space-between; 
    grid-area: nav;
    .logo{
        align-items: center;
        display: flex;
      
        margin-left: 20px;
        height: 80px;
        font-size: 50%;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }
    ul{
        list-style: none;
        float: right;
        display: flex
        
}
}
nav ul li a{
    line-height: 80px;
    color:#fff;
    padding:15px;
    text-decoration: none;
    font-size: 50%;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    color:purple;
}
footer{
    padding: 1%;
    font-size: 80%;
    border-top:2px solid purple;
    background:rgb(0, 0, 0);
    
    grid-area: footer;
    margin-bottom: 0%;
}
section{
    display:flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;  
}

/*Botones*/
.buttonServicio{
    width: 25%; 
}
.buttonServicio a:hover{
    color: purple;
}
.buttonConoce{
    padding: 2%;
}
.buttonConoce a:hover{
    color: purple;

}
@import "./nav.scss";
@import "./inicio";
@import "./conoce";
@import "./servicio";
@import "./maps";
@import "./contacto";

@mixin sizes($padding, $margin){
    margin:$margin;
    padding: $padding;
    a{
        text-decoration: none;
        color: #fff
    }
}

.btn-twitter{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #55acee;
    
}
.btn-facebook{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #3a5795;
}

.btn-whatsapp{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #30c266;
}
.whatsApp{
    width: 50%;
    display:flex;
}
/*Variables*/
$pink:violet;

@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .infoIndex{
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto auto auto;
    }
    .titulo{
        margin-left: 10%;
        grid-row: 1/2;
    }
    
    .parrafo2{
        margin-left: 15%;
        grid-row: 2/3;}
    .parrafo1{
        margin-left: 15%;
            grid-row: 3/4;    
}
.parrafoIndex3{
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    font-size: 30px;
    grid-row: 4/5;
}
.imagenesServicio img{
    width: 120px;
    height: 120px;
}
.card{
    width: 70%;
}
.servicioParrafo1{
    width: 80%;
    padding: 2%;
    border-radius: 1%;
}
.buttonServicio{
    width: 50%;
}
.formulario{
    width: 80%;
}

}