/*Conoce*/

.backgroundQuiensoy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: violet;
    padding: 5%;
}
.quienSoy{
    background-color: rgb(54, 54, 54);
    display: grid;   
    grid-template-columns: auto auto;
    padding: 2%;
    width: 80%;
    font-size: 80%;
    color: #fff;
    justify-content: center; 
    border: solid 2px purple;
    .quienSoyImg img{
        padding: 10%;
    }
    p{
        margin-top:2%;
    }
}

.titulo{
    margin-top:5%;
    margin-bottom: 2%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: violet;
    flex-direction: column; 
}

.saberMasBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    color: black;
    background-color: violet;
    width:70%;
    border-radius: 8px;
    padding: 2%;
}

.parrafosObjetivosFondo{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgb(54, 54, 54);
    padding: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    .parrafosObjetivo {
        padding: 2%;
        background-color: #fff;
        display: flex;
        font-size: 90%;
        color:purple;
        width: 80%;
}
}
