/*Index*/
@import "./variables";

.bodyIndex{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75));
    background-image:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
    url(imagenes/imagenDesarrollo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}

.tituloIndex{
    margin-top: 5%;
    background-color: $color2;
    color: $color3;
}

.tarjetaIndex a:hover{
    color: $color1;    
    }
