/*Inicio*/



.saludoInicial{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;
    background-color: violet;
    flex-direction: column; 
    h1{
     color: aliceblue;
     padding: 3%;}
     .botonConocer{
         display: flex;
         justify-content: center;
         padding:8px ;
         background-image: linear-gradient(to left,black,purple);
         text-decoration: none;
         color: #000000;
         border: solid chartreuse;
         border-radius: 10Px;
         margin-top: 5%;
         margin-left: 60%; 
 }  
 
 }

 .botones{
     display: flex;
     justify-content: center;
     padding: 1%;
 }
 
 .cartaInicial{
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     background-image: url(imagenes/imagenDesarrollo.png);
     background-attachment: fixed;
     background-size: 100% 100%;
 }

 .card{
     width: 45%;
     display: flex;
     margin-top: 10%;
     margin-bottom: 10%;
     background-color: #2d2b2b;
     .card-header{
         background-color: #000000;
         color: purple;
         text-align: center;
     }
 }

 .card-body{
     display: flex;
     align-items: center;
     flex-direction: column;
     
 }

 .card-body a:hover{
     color: purple;
 }

 .iconosIndex{
     width: 100%;
     background-color: violet;
 
 }
 .infoIndex{
     justify-content: center;
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: auto auto auto;
     .titulo{
        padding: 4px;
     }
 }

 .parrafo2{
     grid-row: 3/3;
     width: 70%;
     padding: 1%;
     border: solid 2px purple;
     border-radius: 8px;
     color: #fff;
     background-color: #232222;
     margin:1%;
     margin-left: 10%;
     margin-bottom: 5%;
 }

 .titulo{
     background-color: violet;
     margin: 5%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
           grid-column: 1/3;
 }

 .parrafo1{
     grid-row: 2/2;
     width: 70%;
     padding: 1%;
     border: solid 2px purple;
     border-radius: 8px;
     color: #fff;
     background-color: #232222;
     margin:1%;
     margin-left: 10%;
     margin-bottom: 5%;
 }
 
 .parrafoIndex3{
     grid-row: 2/4;
     font-size: 50px;
     color: purple;
     margin-top: 10%;
     margin-right: 5%;
 }