/*Nav*/


nav{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    background:rgb(0, 0, 0);
    border-bottom: solid purple;
    justify-content: space-between; 
    grid-area: nav;
    .logo{
        text-decoration: none;
        align-items: center;
        display: flex;
      
        margin-left: 20px;
        height: 80px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        a{
            text-decoration: none;
            color: #fff;
        }
    }
    ul{
        list-style: none;
        float: right;
        display: flex
        
}
}
nav ul li a{
    line-height: 80px;
    color:#fff;
    padding:15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    color:purple;
}