/* Servicio*/



.imagenesServicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:1%;
    background-color: #000000;
}

.imagenesServicio img{
    
    margin: 1%;
    border-radius:10%;
}

.contenedorServicioParrafo1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#232222;
    width: 100%;
    margin:4%;
    padding:2%;
    .servicioParrafo1{
        background-color: purple;
        color: #fff;
        width: 60%;
        padding: 2%;
        border-radius: 1%;
    }
}

.soluciones{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    font-size: 40px;
    padding: 2%;
    background-image: url(imagenes/parallax.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    border-top:solid purple;
    border-bottom:solid purple;
}

.parrafosGrandes1{
    padding: 5%;
    text-align: center;
    font-size: 40px;
    color: purple;
}

.parrafosGrandes2{
    @extend .parrafosGrandes1;
}

.parrafosGrandes3{
    @extend .parrafosGrandes1;
}

.botonesRedes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}