/* Servicio*/
@import "./variables";


.imagenesServicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:1%;
    background-color: #000000;
}

.imagenesServicio img{
    
    margin: 1%;
    border-radius:8px;
}

.contenedorServicioParrafo1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#232222;
    width: 100%;
    margin:4%;
    padding:2%;
    .servicioParrafo1{
        background-color: $color1;
        color: #fff;
        width: 60%;
        padding: 2%;
        border-radius: 8px;
    }
}

.soluciones{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; 
    font-size: 40px;
    padding: 2%;
    background-image: url(imagenes/parallax.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    border-top:solid $color1;
    border-bottom:solid $color1;
}
.costosImg{
    border-radius: 4px;
    border: solid $color1;
}

.parrafosGrandes1{
    padding: 2%;
    text-align: center;
    font-size: 40px;
    color: $color1;
}

.parrafosGrandes2{
    @extend .parrafosGrandes1;
}

.parrafosGrandes3{
    @extend .parrafosGrandes1;
}

.imgCostos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding:1%;
    border-radius: 8px;
    background-color: #000000;
    img{
        padding: 1%;
    }
}

.botonesRedes{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.saberMasBackground{
    border-radius: 8px;
}